<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.semiproject.board.model.dao.BoardMapper">

    <resultMap id="selectBoard" type="com.ohgiraffers.semiproject.board.model.dto.BoardDTO">
        <id property="boardCode" column="board_code"/>
        <result property="announceOk" column="announce_ok"/>
        <result property="boardDate" column="board_date"/>
        <result property="viewCnt" column="view_cnt"/>
        <result property="boardTitle" column="board_title"/>
        <result property="boardContents" column="board_contents"/>
        <result property="empCode" column="emp_code"/>
    </resultMap>

    <resultMap id="selectJoinBoard" type="com.ohgiraffers.semiproject.board.model.dto.BoardEmpDTO">
        <id property="boardCode" column="board_code"/>
        <result property="announceOk" column="announce_ok"/>
        <result property="boardDate" column="board_date"/>
        <result property="viewCnt" column="view_cnt"/>
        <result property="boardTitle" column="board_title"/>
        <result property="boardContents" column="board_contents"/>
        <result property="empCode" column="emp_code"/>
        <association property="employeeDTO" javaType="com.ohgiraffers.semiproject.employee.model.dto.EmployeeDTO">
            <id property="empCode" column="emp_code"/>
            <result property="empPass" column="emp_pass"/>
            <result property="empName" column="emp_name"/>
            <result property="empEmail" column="emp_email"/>
            <result property="empPhone" column="emp_phone"/>
            <result property="hireDate" column="hire_date"/>
            <result property="entDate" column="ent_date"/>
            <result property="empGender" column="emp_gender"/>
            <result property="empAddress" column="emp_address"/>
            <result property="jobCode" column="job_code"/>
            <result property="deptCode" column="dept_code"/>
            <result property="authority" column="authority"/>
            <result property="profile_image" column="profile_image"/>
        </association>
    </resultMap>
    <!-- 게시글 전체조회 -->
    <select id="selectAll" resultMap="selectJoinBoard">
        SELECT a.*,
               b.emp_name
        FROM tbl_board a
        JOIN tbl_emp b ON a.emp_code = b.emp_code
        WHERE announce_ok = 'Y'
        ORDER BY board_code DESC
        LIMIT #{offset}, #{size}
    </select>
    <!-- 게시판 검색조회 -->
    <select id="search" resultMap="selectJoinBoard">
        SELECT a.*,
               b.emp_name
        FROM tbl_board a
        JOIN tbl_emp b ON a.emp_code = b.emp_code
        WHERE announce_ok = 'Y'
        <if test="query != null and query != ''">
            AND board_title LIKE CONCAT('%', #{query}, '%')
        </if>
        LIMIT #{offset}, #{size}
    </select>
    <!-- 전체 게시글 개수 조회 -->
    <select id="countAll" resultType="long">
        SELECT COUNT(*)
        FROM tbl_board
        WHERE announce_ok = 'Y'
    </select>

    <!-- 게시글 검색 개수 조회 -->
    <select id="countSearch" resultType="long">
        SELECT COUNT(*)
        FROM tbl_board
        <where>
            announce_ok = 'Y'
            <if test="query != null and query != ''">
                AND board_title LIKE CONCAT('%', #{query}, '%')
            </if>
        </where>
    </select>
    <!-- 게시글 추가 -->
    <insert id="boardRegist" parameterType="com.ohgiraffers.semiproject.board.model.dto.BoardDTO">
        insert into tbl_board
        (
        board_code,
        announce_ok,
        board_date,
        view_cnt,
        board_title,
        board_contents,
        emp_code
        )
        values
        (
        #{boardCode},
        'Y',
        #{boardDate},
        #{viewCnt},
        #{boardTitle},
        #{boardContents},
        #{empCode}
        )
    </insert>
    <!-- 제목으로 상세조회 -->
    <select id="title" resultMap="selectBoard">
        select
        *
        from
        tbl_board
        where
        board_code = #{boardCode}
    </select>
    <!-- 게시판 삭제 -->
    <delete id="delete" parameterType="com.ohgiraffers.semiproject.board.model.dto.BoardDTO">
        delete
        from
        tbl_board
        where
        board_code = #{boardCode}
    </delete>
    <!-- 게시판 수정 -->
    <update id="update" parameterType="com.ohgiraffers.semiproject.board.model.dto.BoardDTO">
        update
        tbl_board
        set
        board_title = #{boardTitle},
        board_contents = #{boardContents}
        where
        board_code = #{boardCode}
    </update>
    <!-- 조회수 -->
    <update id="viewCount">
        update
        tbl_board
        set
        view_cnt = view_cnt + 1
        where
        board_code = #{boardCode}
    </update>
    <!-- 목록 -->
    <select id="select" resultMap="selectBoard">
        select
        *
        from
        tbl_board
    </select>
</mapper>