<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>연차 휴가 신청서</title>
  <link rel="stylesheet" href="/main/css/main-style.css"> <!-- 메인 스타일 연결 -->
  <script src="/main/js/main.js"></script> <!-- 메인 자바스크립트 연결 -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=keyboard_arrow_down" />
  <link rel="stylesheet" href="/sidemenu/approval/css/vacation-form.css">
</head>
<body>
<header>
  <div class="side-menu-bar">
    <ul>
      <li><a href="/main">🐶PetHarmony🐶</a></li>
      <li><a href="http://localhost:9595/sidemenu/schedule">근태관리</a></li>
      <li><a href="http://localhost:9595/sidemenu/messenger">메신저(채팅)</a></li>
      <li><a href="http://localhost:9595/sidemenu/mail">이메일</a></li>
      <li><a href="http://localhost:9595/sidemenu/adoption">입양</a></li>
      <li class="animal-menu">
        <div class="menu-wrapper">
          <a href="http://localhost:9595/sidemenu/animals">동물
            <span class="material-symbols-outlined">keyboard_arrow_down</span>
          </a>
        </div>
        <ul class="sub-menu">
          <li><a href="http://localhost:9595/sidemenu/animals">구조동물</a></li>
          <li><a href="http://localhost:9595/sidemenu/adoptionComplete">입양완료</a></li>
          <li><a href="http://localhost:9595/sidemenu/stock">재고관리</a></li>
        </ul>
      </li>
      <li><a href="http://localhost:9595/sidemenu/facilities">시설관리</a></li>
      <li><a href="http://localhost:9595/sidemenu/board">전사게시판</a></li>
      <li><a href="http://localhost:9595/sidemenu/employee">직원정보</a></li>
      <li><a href="http://localhost:9595/sidemenu/mypage">마이페이지</a></li>
      <li><a href="http://localhost:9595/sidemenu/approval">결재</a></li>
      <li class="admin-menu">
        <div class="admin-menu-wrapper">
          <a href="http://localhost:9595/sidemenu/manager">관리자전용
            <span class="material-symbols-outlined">keyboard_arrow_down</span>
          </a>
        </div>
        <ul class="sub-menu">
          <li><a href="http://localhost:9595/sidemenu/manager">관리자페이지</a></li>
          <li><a href="http://localhost:9595/sidemenu/employeeRegister">사원등록</a></li>
          <li><a href="http://localhost:9595/sidemenu/employeeManagement">직원관리</a></li>
          <li><a href="http://localhost:9595/sidemenu/approvalBox">결재함</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>
<div class="change-screen-vacationForm">
  <div id="change-screen-content">
    <form action="/vacationProcess" id="vacationFormRequest" method="post">
      <div class="form-title">
        <h2>✈️연차 휴가 신청서✈️</h2>
        <div class="form-box">
          <table class="data-table">
            <thead>
            <tr>
              <th>관리자</th>
              <th>대표</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <input type="hidden" name="managerAccept" th:value="${vacRequestInfo.getAdminCode()}">
                <div th:if="${vacRequestInfo.getAdminCode() == currentEmpCode}">
                  <img src="/img/icon/Stamp.png" alt="도장" />
                </div>
              </td>
              <td>
                <input type="hidden" name="managerAccept" th:value="${vacRequestInfo.getOwnerCode()}">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="form2">
        <table class="data-table special-table">
          <tbody>
          <tr>
            <td style="width: 40%; background-color: #f2f2f2; font-weight: bold;">부서명</td>
            <td id="department" style="background-color: white; width: 70%; height: 30px;"
                th:text="${vacRequestInfo.getUserInfo().getDeptDTO().getDeptName()}">&nbsp;</td> <!-- 빈 셀 -->
            <td style="width: 40%; background-color: #f2f2f2; font-weight: bold;">기안자</td>
            <td id="author" style="background-color: white; width: 70%; height: 30px;"
                th:text="${vacRequestInfo.getUserInfo().getEmpName()}">&nbsp;</td> <!-- 빈 셀 -->
          </tr>
          <tr>
            <td style="width: 40%; background-color: #f2f2f2; font-weight: bold;">기안일자</td>
            <td id="date" style="background-color: white; width: 70%; height: 30px;"
                th:text="${formattedDeadLineDate}">&nbsp;</td> <!-- 빈 셀 -->
            <input type="hidden" name="deadLineDate" id="deadline_date" value="">
            <td style="width: 40%; background-color: #f2f2f2; font-weight: bold;">관리자</td>
            <td id="managerCell" style="background-color: white; width: 70%; height: 30px;"
                th:text="${vacRequestInfo.getAdminName()}">&nbsp;</td> <!-- 빈 셀 -->
          </tr>
          </tbody>
        </table>
      </div>

      <div class="form3">
        <table class="data-table">
          <tbody>
          <tr>
            <td style="width: 10%; background-color: #f2f2f2; font-weight: bold;">휴가 종류</td>
            <td style="background-color: white; width: 70%; height: 30px; text-align: left" th:text="${vacRequestInfo.getType()}">
            </td>
          </tr>
          <tr>
            <td style="width: 10%; background-color: #f2f2f2; font-weight: bold;">휴가 일시</td>
            <td style="background-color: white; width: 70%; height: 30px; text-align: left">
              <p th:text="${formattedVacStartDate} + ' ~ ' + ${formattedVacEndDate}"></p>
            </td>
          </tr>
          <tr>
            <td style="width: 30%; background-color: #f2f2f2; font-weight: bold;">휴가 사유</td>
            <td style="background-color: white; width: 70%; height: 140px; text-align: left;" th:text="${vacRequestInfo.getVacReason()}">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="form4">
        <button id="submitButton">승인</button>
        <input type="button" onclick="location.href='/sidemenu/approvalBox'" value="반려">
      </div>
    </form>
  </div>
</div>
</body>
</html>